<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>844385867151-u2trg3t01fuspk360hd92silhgjev75b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844385867151-u2trg3t01fuspk360hd92silhgjev75b</string>
	<key>API_KEY</key>
	<string>AIzaSyAXkB8lmsR2vbK_NeJLqtIW9v7km9dwAkA</string>
	<key>GCM_SENDER_ID</key>
	<string>844385867151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cmodc.Call-Me-Out</string>
	<key>PROJECT_ID</key>
	<string>callmeout-3e5a8</string>
	<key>STORAGE_BUCKET</key>
	<string>callmeout-3e5a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:844385867151:ios:35bb7345c31b4136</string>
	<key>DATABASE_URL</key>
	<string>https://callmeout-3e5a8.firebaseio.com</string>
</dict>
</plist>